.home {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #2c3e50;
  overflow: hidden;
}

.function-menu:not(.el-menu--collapse) {
  width: 150px;
}

.el-menu {
  height: 100%;
}

.header {
  position: relative;
  display: block;
  height: 7%;
  background-color: #2f3640;
}

.fold {
  position: absolute;
  color: white;
}

.foldBtn {
  position: absolute;
  font-size: 1.6em;
  left: 12px;
  width: 40px;
  height: 40px;
  margin-top: 15px;
}

.foldBtn:hover {
  cursor: pointer;
}

.main {
  position: relative;
  display: block;
  height: 93%;
}

.menu {
  position: relative;
  display: inline-block;
  float: left;
  width: 4.5%;
  height: 100%;
}

.room-close {
  position: absolute;
  float: left;
  margin-left: 65px;

  width: 90%;
  height: 100%;

  background-color: #34495e;
  transition: 0.4s;

}

.room-open {
  position: absolute;
  float: left;
  margin-left: 153px;
  width: 90%;
  height: 100%;
  background-color: #34495e;
  transition: 0.45s;
}

.map {
  position: absolute;
  left: 0;
  background-color: black;
  width: 80%;
  height: 100%;
  z-index: 1;
}

.map-heat {
  position: absolute;
  left: 0;
  background-color: black;
  width: 100%;
  height: 70%;
  z-index: 1;
}

.chart-heat {
  position: absolute;
  left: 0;
  bottom: 0;
  border: solid 1px #436983;
  border-radius: 2px;
  box-shadow: #3b5d74 0px 0px 10px 5px inset;
  width: 100%;
  height: 30%;
  z-index: 1;
}

.chart {
  position: fixed;
  right: 0;
  background-color: #34495e;
  width: 390px;
  height: 100%;
  z-index: 2;
  overflow-y: scroll;
}

.chart::-webkit-scrollbar {
  width: 10px;
  background-color: #34495e;
}

.chart::-webkit-scrollbar-track {
  -webkit-box-shadow: #34495e 0px 0px 10px 5px inset;
  background-color: #436983;
  border-radius: 10px;
}

.chart::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(122, 153, 217)),
      color-stop(0.72, rgb(73, 125, 189)),
      color-stop(0.86, rgb(28, 58, 148)));
}